body {
    /* Photo by Fikri Rasyid on Unsplash */
background-image: url("https://images.unsplash.com/photo-1514337224818-9787cf717f2a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f57a66c81396cd84b4b96fc253234195&auto=format&fit=crop&w=1489&q=80");
background-size: cover;
height: 100vh;
background-repeat: no-repeat;
}
.jumbotron {
    background-color: transparent;
    text-align: center;
    
}
.display-4 {
    font-family:  'Eczar', serif;
    color: white;
    font-size: 45px;
    font-weight: bolder;
}
.lead {
    font-family: 'Eczar', serif;
    color: red;
    font-size: 38px;
    font-weight: bold;
}
.card {
    opacity: 0.8;
    margin-top: -114px;
    background-color:white;
}
.card2 {
    opacity: 0.8;
    margin-top: -90px;
    background-color: red;
}
th{
    padding: 19px;
    font-family: 'Fanwood Text', serif;
    font-weight: bold;
    font-size: 20px;

}
.table {
    background-color: white;
    opacity: 0.8;
text-align: center;
}
.bg-light{
    background-color: transparent!important;
}
.navbar-brand {
    color: white!important;
    font-family: 'Merriweather', serif;

}
label {
    font-family: 'Fanwood Text', serif;
    font-weight: bold;
    font-size: 20px;
}
.card-header {
    font-family: 'Fanwood Text', serif;
    font-weight: bold;
    font-size: 25px;
    background-color: red;
}
td {
    font-family: 'Fanwood Text', serif;
    font-weight: bold;
    font-size: 18px;

}